<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">General rules</h2>
            <hr class="primary">
            <h4>Kids</h4>
                <p>
                    We love your kids and we wish it was possible for them to have joined us for this function but 
                    unfortunately this is an adult only function. Although we are still excited to spend the evening with you all.
                </p>
            <h4>Bar</h4>
                <p>
                    We are offering a cash bar on the evening and a complimentary champagne on each table. Since the venue
                    strictly prohibits the private use of alcohol, we request that you make use of the provided facilities.
                </p>
            <!-- <h6></h6> -->
        </div>
    </div>
</div>
