{% load static %}
<link rel="stylesheet" href="{% static 'css/gifts.css' %}">
<div class="container">
        <h2 class="section-heading text-center"><b><u>Gifts</u></b></h2>
        <hr class="primary">
        <p class = "main" style="text-align: center; font-size: x-large;">
            We can’t wait to celebrate our big day with you! 
            Your presence is more than enough, but if you’d like to give a gift we’d be overjoyed with a contribution towards our honeymoon fund.
        </p>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="BankingDetails-box">
                    <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive" alt="">
                    <h3><u>Our Banking details</u></h3>
                    <table style="font-size: larger;">
                        <tr>
                            <td><b>Bank:</b> FNB</td>
                        </tr>
                        <tr>
                            <td><b>Account Holder:</b> AJ Haasbroek</td>
                        </tr>
                        <tr>
                            <td><b>Account Number:</b> 6278 5673 320</td>
                        </tr>
                        <tr>
                            <td><b>Branch Code:</b> 250655</td>
                        </tr>
                        <tr>
                            <td><b>Account type:</b> Cheque Account</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="QR-box">
                    <h3><u>Scan to Pay</u></h3>
                    <h1></h1>
                    <img src="{% static 'bigday/images/other/QR-code.jpeg' %}" class="img-responsive" alt="" style="width: 200px; height: 200px; margin: 0cm; padding:0cm;">
                    
                </div>
            </div>
        </div>
        <hr class="light">
</div>
