<link rel="stylesheet" href="../../../bigday/static/css/location.css">
<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Location & Time</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        A wedding of a lifetime of course!
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, January 27 at 15:30 for 16:00</dd>
                    <dt>Attire</dt>
                    <dd><u>All black.</u> Please see the photos below for the effect we are trying achieve with the all black attire.</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Barn @ Redstone<br>
                            <a href="https://goo.gl/maps/KGEq9hyXDzoYwifS9">
                                Click here for directions</a><br>
                            Phone: (083) 462 6111
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4532.9217604309615!2d27.8609787725584!3d-25.781915161852883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebe2a662c38dd0b%3A0xe5ed6aec2a060180!2sThe%20Barn%20%40%20Redstone%20Country%20Estate!5e1!3m2!1sen!2sza!4v1673530020894!5m2!1sen!2sza"
                            width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </address>

                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
</section>

<!-- {% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %} -->
</section>
